workflows/upload_exam.json
{
  "name": "upload_exam",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "upload-exam-api",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        2448,
        -496
      ],
      "id": "c188cec2-b02d-49d6-9cd1-a345f77ff403",
      "name": "On API submission",
      "webhookId": "upload-exam-api",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst body = item.json.body || item.json || {};\nconst binary = item.binary || {};\n\nconst questionFile = binary.question_file;\nconst answerFile = binary.answer_file;\n\nif (!questionFile || !answerFile) {\n  throw new Error('Thieu file question_file hoac answer_file. Gui multipart/form-data tu API backend.');\n}\n\nconst examCode = String(body.exam_code || '').trim();\nif (!examCode) {\n  throw new Error('Thieu exam_code.');\n}\n\nconst title = String(body.title || '').trim();\nif (!title) {\n  throw new Error('Thieu title de thi.');\n}\n\nconst examType = String(body.exam_type || '').trim();\nif (!examType) {\n  throw new Error('Thieu exam_type.');\n}\n\nconst teacherId = Number(body.teacher_id);\nif (!Number.isInteger(teacherId) || teacherId <= 0) {\n  throw new Error('teacher_id khong hop le.');\n}\n\nconst questionFilename = String(questionFile.fileName || questionFile.filename || '').trim();\nconst answerFilename = String(answerFile.fileName || answerFile.filename || '').trim();\nconst answerName = answerFilename.toLowerCase();\nconst answerMime = String(answerFile.mimeType || answerFile.mimetype || '').toLowerCase();\nconst supportedExtensions = ['.pdf', '.png', '.jpg', '.jpeg', '.webp', '.doc', '.docx'];\nconst hasSupportedExtension = supportedExtensions.some((extension) => answerName.endsWith(extension));\nconst supportedMimeTypes = [\n  'application/pdf',\n  'image/png',\n  'image/jpeg',\n  'image/webp',\n  'application/msword',\n  'application/vnd.openxmlformats-officedocument.wordprocessingml.document'\n];\n\nif (!hasSupportedExtension && !supportedMimeTypes.includes(answerMime)) {\n  throw new Error('answer_file khong thuoc dinh dang OCR duoc ho tro.');\n}\n\nreturn [{\n  json: {\n    exam_code: examCode,\n    title,\n    description: String(body.description || '').trim(),\n    class_code: String(body.class_code || '').trim(),\n    subject_code: String(body.subject_code || '').trim(),\n    subject_name: String(body.subject_name || '').trim(),\n    exam_type: examType,\n    teacher_id: teacherId,\n    question_filename: questionFilename,\n    answer_filename: answerFilename,\n    question_file_path: questionFilename || null,\n    answer_file_path: answerFilename || null\n  },\n  binary: {\n    question_file: questionFile,\n    answer_file: answerFile\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2672,
        -496
      ],
      "id": "0a6f619e-190a-4b58-a0d2-fc0e81b8c84a",
      "name": "Validate API payload"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO exams (\n  exam_code,\n  title,\n  description,\n  class_code,\n  subject_code,\n  subject_name,\n  exam_type,\n  teacher_id,\n  question_file_path,\n  answer_file_path,\n  status,\n  created_at,\n  updated_at,\n  created_by,\n  updated_by\n) VALUES (\n  '{{ ($json.exam_code || '').replace(/'/g, \"''\") }}',\n  '{{ ($json.title || '').replace(/'/g, \"''\") }}',\n  {{ $json.description ? `'${$json.description.replace(/'/g, \"''\")}'` : 'NULL' }},\n  {{ $json.class_code ? `'${$json.class_code.replace(/'/g, \"''\")}'` : 'NULL' }},\n  {{ $json.subject_code ? `'${$json.subject_code.replace(/'/g, \"''\")}'` : 'NULL' }},\n  {{ $json.subject_name ? `'${$json.subject_name.replace(/'/g, \"''\")}'` : 'NULL' }},\n  '{{ ($json.exam_type || '').replace(/'/g, \"''\") }}',\n  {{ Number($json.teacher_id) }},\n  {{ $json.question_file_path ? `'${$json.question_file_path.replace(/'/g, \"''\")}'` : 'NULL' }},\n  {{ $json.answer_file_path ? `'${$json.answer_file_path.replace(/'/g, \"''\")}'` : 'NULL' }},\n  'processing',\n  NOW(),\n  NOW(),\n  {{ Number($json.teacher_id) }},\n  {{ Number($json.teacher_id) }}\n) RETURNING id AS exam_id, exam_code, title, description, class_code, subject_code, subject_name, exam_type, teacher_id, question_file_path, answer_file_path, status;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2896,
        -496
      ],
      "id": "17f0c592-e457-42ae-a813-c7588b2de3ea",
      "name": "Create exam record",
      "credentials": {
        "postgres": {
          "id": "niW3RY5UmjUzxGIm",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO system_logs (\n  log_type,\n  ref_table,\n  ref_id,\n  exam_id,\n  class_code,\n  workflow_execution_id,\n  model_name,\n  status,\n  message,\n  request_payload,\n  created_at,\n  created_by,\n  updated_by\n) VALUES (\n  'exam_extract',\n  'exams',\n  {{ $json.exam_id }},\n  {{ $json.exam_id }},\n  {{ $json.class_code ? `'${$json.class_code.replace(/'/g, \"''\")}'` : 'NULL' }},\n  '{{ $execution.id }}',\n  'google-drive + mistral-ocr-latest + gpt-4.1-mini',\n  'running',\n  'Da nhan upload_exam qua API, dang upload file len Drive va OCR dap an.',\n  jsonb_build_object(\n    'exam_code', '{{ ($json.exam_code || '').replace(/'/g, \"''\") }}',\n    'title', '{{ ($json.title || '').replace(/'/g, \"''\") }}',\n    'question_file', '{{ ($json.question_filename || '').replace(/'/g, \"''\") }}',\n    'answer_file', '{{ ($json.answer_filename || '').replace(/'/g, \"''\") }}'\n  ),\n  NOW(),\n  {{ Number.isInteger(Number($json.teacher_id)) ? Number($json.teacher_id) : 'NULL' }},\n  {{ Number.isInteger(Number($json.teacher_id)) ? Number($json.teacher_id) : 'NULL' }}\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3120,
        -496
      ],
      "id": "11ea0203-20cc-4ce8-bc47-ffdb33c5d259",
      "name": "Log extraction started",
      "credentials": {
        "postgres": {
          "id": "niW3RY5UmjUzxGIm",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const created = $('Create exam record').first().json;\nconst source = $('Validate API payload').first();\nreturn [{ json: { ...source.json, ...created }, binary: { ...source.binary } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3344,
        -496
      ],
      "id": "0f3c454f-63ab-432c-933d-59028b2f6021",
      "name": "Restore validated payload"
    },
    {
      "parameters": {
        "inputDataFieldName": "question_file",
        "name": "={{ $binary.question_file.fileName || $binary.question_file.filename || 'question-file' }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1wOZ8pKLYH-mzXpKavQsH8Y7HuMGjkECP",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1wOZ8pKLYH-mzXpKavQsH8Y7HuMGjkECP"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3568,
        -496
      ],
      "id": "505208dd-fe92-43a5-b734-230a54f0eedc",
      "name": "Upload question file",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "qSShY0ojWV7cDYxm",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const meta = $('Validate API payload').first();\nconst upload = $input.first();\nconst questionFilePath = upload.json.webViewLink || upload.json.webContentLink || upload.json.id || '';\nif (!questionFilePath) {\n  throw new Error('Khong lay duoc URL Google Drive cho question_file');\n}\nreturn [{ json: { ...meta.json, question_file_path: questionFilePath, question_drive_file_id: upload.json.id || null }, binary: { ...meta.binary } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3792,
        -496
      ],
      "id": "02a3d73b-8bd7-48cc-a46a-eeca960208a5",
      "name": "Restore payload after question upload"
    },
    {
      "parameters": {
        "inputDataFieldName": "answer_file",
        "name": "={{ $binary.answer_file.fileName || $binary.answer_file.filename || 'answer-file' }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1wOZ8pKLYH-mzXpKavQsH8Y7HuMGjkECP",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1wOZ8pKLYH-mzXpKavQsH8Y7HuMGjkECP"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        4016,
        -496
      ],
      "id": "915feb41-2a8d-4904-9730-3eef09282a37",
      "name": "Upload answer file",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "qSShY0ojWV7cDYxm",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const meta = $('Restore payload after question upload').first().json;\nconst binary = $('Validate API payload').first().binary || {};\nconst answerUpload = $input.first();\nconst answerFilePath = answerUpload.json.webViewLink || answerUpload.json.webContentLink || answerUpload.json.id || '';\nif (!answerFilePath) {\n  throw new Error('Khong lay duoc URL Google Drive cho answer_file');\n}\nreturn [{ json: { ...meta, answer_file_path: answerFilePath, answer_drive_file_id: answerUpload.json.id || null }, binary: { ...binary } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4144,
        -768
      ],
      "id": "0da02516-6875-4016-8502-39ea85e5af37",
      "name": "Attach Drive uploads"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/files",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "mistralCloudApi",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "purpose",
              "value": "ocr"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "answer_file"
            }
          ]
        },
        "options": {}
      },
      "id": "69ceb3a7-e83c-4f53-81eb-aad2aa41a38e",
      "name": "Mistral Upload",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        4240,
        -496
      ],
      "typeVersion": 4.2,
      "credentials": {
        "mistralCloudApi": {
          "id": "4j22PGH28ejToB5f",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.mistral.ai/v1/files/{{ $json.id }}/url",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "mistralCloudApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "expiry",
              "value": "24"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "e02cc541-bbc5-4152-bd08-44507cf097d7",
      "name": "Mistral Signed URL",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        4464,
        -496
      ],
      "typeVersion": 4.2,
      "credentials": {
        "mistralCloudApi": {
          "id": "4j22PGH28ejToB5f",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/ocr",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "mistralCloudApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"mistral-ocr-latest\",\n  \"document\": {\n    \"type\": \"document_url\",\n    \"document_url\": \"{{ $json.url }}\"\n  },\n  \"include_image_base64\": false\n}",
        "options": {}
      },
      "id": "446f68a6-1c28-47ab-95c2-9b5187bc2a61",
      "name": "Mistral DOC OCR",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        4688,
        -496
      ],
      "typeVersion": 4.2,
      "credentials": {
        "mistralCloudApi": {
          "id": "4j22PGH28ejToB5f",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8db56b6d-6f85-4dd4-b1b4-780bcc65f53d",
              "name": "markdown",
              "value": "={{ ($json.pages || []).map(page => page.markdown || '').join('\\n\\n').trim() }}",
              "type": "string"
            },
            {
              "id": "ef803507-f63b-48b6-adc6-fcf0de48805a",
              "name": "page_count",
              "value": "={{ ($json.pages || []).length }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4912,
        -496
      ],
      "id": "2a0e414f-1d39-42ec-98cd-7f88bf5070df",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "const meta = $('Attach Drive uploads').first().json;\nconst ocr = $('Edit Fields').first().json;\nreturn [{ json: { ...meta, markdown: ocr.markdown || '', page_count: Number(ocr.page_count || 0) } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5136,
        -496
      ],
      "id": "c585f5a4-4f90-417a-bc2c-c7c2486d3106",
      "name": "Restore OCR context"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO system_logs (\n  log_type,\n  ref_table,\n  ref_id,\n  exam_id,\n  class_code,\n  workflow_execution_id,\n  model_name,\n  status,\n  message,\n  response_payload,\n  created_at,\n  created_by,\n  updated_by\n) VALUES (\n  'exam_extract',\n  'exams',\n  {{ $('Create exam record').item.json.exam_id }},\n  {{ $('Create exam record').item.json.exam_id }},\n  {{ $json.class_code ? `'${$json.class_code.replace(/'/g, \"''\")}'` : 'NULL' }},\n  '{{ $execution.id }}',\n  'mistral-ocr-latest',\n  'running',\n  'OCR dap an hoan tat, chuyen sang chuan hoa JSON.',\n  jsonb_build_object(\n    'exam_code', '{{ ($json.exam_code || '').replace(/'/g, \"''\") }}',\n    'question_file_path', '{{ ($json.question_file_path || '').replace(/'/g, \"''\") }}',\n    'answer_file_path', '{{ ($json.answer_file_path || '').replace(/'/g, \"''\") }}',\n    'page_count', {{ Number($json.page_count || 0) }},\n    'markdown_length', {{ Number(($json.markdown || '').length) }}\n  ),\n  NOW(),\n  {{ Number.isInteger(Number($json.teacher_id)) ? Number($json.teacher_id) : 'NULL' }},\n  {{ Number.isInteger(Number($json.teacher_id)) ? Number($json.teacher_id) : 'NULL' }}\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        5360,
        -496
      ],
      "id": "1dc9a6d5-f5f7-4b94-a33a-5b1f44c398ff",
      "name": "Log OCR completed",
      "credentials": {
        "postgres": {
          "id": "niW3RY5UmjUzxGIm",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const source = $('Restore OCR context').first();\nreturn [{ json: { ...source.json } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5584,
        -496
      ],
      "id": "3e83626a-9b36-45d1-84ba-2b5b51b99980",
      "name": "Restore extracted markdown"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "=Ban la AI trich xuat dap an va rubric tu OCR markdown cua dap an mau.\n\nMuc tieu:\nTra ve DUY NHAT mot JSON object hop le theo dung contract ben duoi, khong markdown, khong giai thich them.\n\nContract output:\n{\n  \"questions\": [\n    {\n      \"question_no\": \"1\",\n      \"question_text\": \"...\",\n      \"question_type\": \"essay\" | \"multiple_choice\" | \"unknown\",\n      \"options\": [\"A\", \"B\", \"C\", \"D\"],\n      \"expected_answer\": \"...\",\n      \"rubrics\": [\n        {\n          \"key\": \"...\",\n          \"score\": 0.5\n        }\n      ],\n      \"max_score\": 2\n    }\n  ],\n  \"total_max_score\": 10\n}\n\nQuy tac:\n1. Neu la tu luan, options de [] va question_type = \"essay\".\n2. Neu la trac nghiem, tach phuong an vao options va expected_answer la dap an dung neu OCR nhin thay.\n3. Neu khong xac dinh duoc so cau, dat question_no theo thu tu 1, 2, 3...\n4. max_score la so, neu khong ro thi dung 1 cho trac nghiem va 2 cho tu luan.\n5. rubrics la mang cac y cham chinh; neu khong co thi tra ve [].\n6. Bo phan dau mo rong khong lien quan nhu ten truong, ten mon, thoi gian thi, chi dan hanh chinh.\n7. total_max_score la tong max_score cua cac cau neu co the tinh duoc, neu khong thi tra ve null.\n8. Neu OCR rat kem va khong tach duoc cau hoi, tra ve {\"questions\": [], \"total_max_score\": null}.\n\nInput OCR markdown:\n{{ $json.markdown }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        5728,
        -608
      ],
      "id": "cdcb1560-6000-4ba7-99a5-1b2fe05c658f",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "TDDvQeXhNqsO4nRg",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8c670303-b61c-4d31-923f-cb5ac2fdcbcc",
              "name": "text",
              "value": "={{ $json.output[0].content[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6032,
        -496
      ],
      "id": "4235bc1d-de15-4b9d-a41c-ab20748044e9",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "jsCode": "const rawText = String($input.first().json.text || '').trim();\nif (!rawText) {\n  throw new Error('Model khong tra ve noi dung extract JSON.');\n}\nlet parsed;\ntry {\n  parsed = JSON.parse(rawText);\n} catch (error) {\n  throw new Error(`Khong parse duoc JSON extract tu model: ${error.message}`);\n}\nif (Array.isArray(parsed)) {\n  parsed = { questions: parsed };\n}\nif (!parsed || typeof parsed !== 'object') {\n  throw new Error('Output extract khong dung dinh dang object.');\n}\nconst rawQuestions = Array.isArray(parsed.questions) ? parsed.questions : [];\nconst normalizedQuestions = rawQuestions.map((question, index) => {\n  const questionText = String(question.question_text || '').trim();\n  const expectedAnswer = String(question.expected_answer || '').trim();\n  const questionNo = String(question.question_no || index + 1).trim();\n  const options = Array.isArray(question.options) ? question.options.map(option => String(option || '').trim()).filter(Boolean) : [];\n  const rubrics = Array.isArray(question.rubrics) ? question.rubrics.map((rubric) => {\n    const key = String(rubric?.key || rubric?.content || '').trim();\n    const score = Number(rubric?.score);\n    return { key, score: Number.isFinite(score) && score >= 0 ? score : null };\n  }).filter((rubric) => rubric.key) : [];\n  const rawMaxScore = Number(question.max_score);\n  const questionType = String(question.question_type || (options.length ? 'multiple_choice' : 'essay')).trim() || 'unknown';\n  const defaultScore = questionType === 'multiple_choice' ? 1 : 2;\n  return {\n    question_no: questionNo || String(index + 1),\n    question_text: questionText,\n    question_type: questionType,\n    options,\n    expected_answer: expectedAnswer,\n    rubrics,\n    max_score: Number.isFinite(rawMaxScore) && rawMaxScore > 0 ? rawMaxScore : defaultScore\n  };\n}).filter((question) => question.question_text || question.expected_answer || question.options.length || question.rubrics.length);\nconst computedTotalMaxScore = normalizedQuestions.reduce((sum, question) => sum + Number(question.max_score || 0), 0);\nconst rawTotalMaxScore = Number(parsed.total_max_score);\nreturn [{ json: { extract_json: { questions: normalizedQuestions, total_max_score: Number.isFinite(rawTotalMaxScore) && rawTotalMaxScore > 0 ? rawTotalMaxScore : normalizedQuestions.length ? Number(computedTotalMaxScore.toFixed(2)) : null }, questions_count: normalizedQuestions.length } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6256,
        -496
      ],
      "id": "2ba8df88-a94a-4c77-95de-6670dfcb3046",
      "name": "exam_detail"
    },
    {
      "parameters": {
        "jsCode": "const meta = $('Restore extracted markdown').first().json;\nconst extract = $('exam_detail').first().json.extract_json;\nconst examRecord = $('Create exam record').first().json;\nfunction escapeLiteral(value) { return String(value ?? '').replace(/'/g, \"''\"); }\nfunction sqlNumber(value) { const number = Number(value); return Number.isFinite(number) ? String(number) : 'NULL'; }\nfunction sqlJson(value) { if (value === undefined || value === null) { return 'NULL'; } return `'${escapeLiteral(JSON.stringify(value))}'::jsonb`; }\nconst status = 'active';\nconst sql = `\nUPDATE exams\nSET\n  answer_extract = ${sqlJson(extract)},\n  status = '${status}',\n  updated_at = NOW(),\n  updated_by = ${sqlNumber(meta.teacher_id)}\nWHERE id = ${sqlNumber(examRecord.exam_id)};`;\nreturn [{ json: { exam_id: examRecord.exam_id, exam_code: examRecord.exam_code, answer_extract: extract, status, sql } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6480,
        -496
      ],
      "id": "46c8445c-4cb6-4a04-b331-7f2a5675c1ec",
      "name": "Build final SQL"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.sql }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        6704,
        -496
      ],
      "id": "23a94399-f431-4536-95a3-2d9413c6c955",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "niW3RY5UmjUzxGIm",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const result = $('Build final SQL').first().json;\nreturn [{ json: { ok: true, message: 'upload_exam API completed successfully', exam_id: result.exam_id, exam_code: result.exam_code, status: result.status, answer_extract: result.answer_extract } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6928,
        -496
      ],
      "id": "b8eda85a-a5eb-47a0-abb5-4320269436f1",
      "name": "Prepare response"
    }
  ],
  "pinData": {},
  "connections": {
    "On API submission": {
      "main": [
        [
          {
            "node": "Validate API payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate API payload": {
      "main": [
        [
          {
            "node": "Create exam record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create exam record": {
      "main": [
        [
          {
            "node": "Log extraction started",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log extraction started": {
      "main": [
        [
          {
            "node": "Restore validated payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restore validated payload": {
      "main": [
        [
          {
            "node": "Upload question file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload question file": {
      "main": [
        [
          {
            "node": "Restore payload after question upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restore payload after question upload": {
      "main": [
        [
          {
            "node": "Upload answer file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload answer file": {
      "main": [
        [
          {
            "node": "Attach Drive uploads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attach Drive uploads": {
      "main": [
        [
          {
            "node": "Mistral Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Upload": {
      "main": [
        [
          {
            "node": "Mistral Signed URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Signed URL": {
      "main": [
        [
          {
            "node": "Mistral DOC OCR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral DOC OCR": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Restore OCR context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restore OCR context": {
      "main": [
        [
          {
            "node": "Log OCR completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log OCR completed": {
      "main": [
        [
          {
            "node": "Restore extracted markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restore extracted markdown": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "exam_detail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "exam_detail": {
      "main": [
        [
          {
            "node": "Build final SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build final SQL": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Prepare response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "c9c94e4d-ecb2-46ea-92fa-1ccaf8e16978",
  "meta": {
    "instanceId": "8120a54d1a3549819c2312ef6fd3824d752b9ddef79c687fc69a09152bfe9d23"
  },
  "id": "EBV5iF8fhHvypvHp",
  "tags": []
}